.inactive {
    align-items: center;
    display: flex;
    height: 82px;
}

.inactive span {
    font-size: 19px;
    font-weight: 600;
}

.footer {
    display: flex;
}

.footer input {
    margin-right: 7px;
    width: 120px;
}