.contact {
  border: none;
  border-radius: 0;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  height: 90px;
  line-height: 25px;
  margin: 0;
  padding: 7px;
  width: 100%;
  text-align: left;
  text-transform: none;
}

.contact:hover {
  background-color: #eeeeee;
}

.active {
  color: white;
  background-color: #1b95e0;
}

.name {
  text-transform: uppercase;
}

.contact i {
  margin-right: 7px;
}
